<launch>

    <node pkg="general_ros_utils" type="msg_header_frame_id_modifier" name="frame_id_modifier">

        <param name="change_frame_id" value="true" />       
        <param name="frame_id" value="map" />

        <remap from="~sub_msg" to="uav1/aft_mapped_to_init" />
        <remap from="~pub_msg" to="uav1/pose_with_new_frame" />

    </node>

</launch>
