<launch>

    <node pkg="borealis_utils" type="shift_map" name="shift_map">

        <param name="target_frame" value="odom" />

        <param name="transform_x" value="1.0" />
        <param name="transform_y" value="1.0" />
        <param name="transform_z" value="1.0" />        

        <remap from="~input_map_cloud" to="occupancy_map/visualize_pointcloud" />
        <remap from="~output_map_cloud" to="uav1/shifted_map" />

    </node>

</launch>